.container-fluid.day-name {
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
  }
  .subject-number {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: center;
    vertical-align: middle;
  }
  .subject-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
  }