.body{
  background-color: #191c20;
}
.container-fluid {
  color: rgba(255,255,255,.8);
  background-color: #191c20;
}
.container-fluid.day-name {
  font-family: Arial, Helvetica, sans-serif;
  color:rgba(255,255,255,.8);
  text-align: center;
}
#monday{
  background-color: #FF595E;
}
.monday-borders{
  border-width: 1px;
  border-bottom-style: solid;
  border-color: #FF595E;
}
#tuesday{
  background-color: #FFCA3A;
}
#wednesday{
  background-color: #8AC926;
}
.wednesday-borders{
  border-width: 1px;
  border-bottom-style: solid;
  border-color: #8AC926;
}
#thursday{
  background-color: #1982C4;
}
.thursday-borders{
  border-width: 1px;
  border-bottom-style: solid;
  border-color: #1982C4;
}
#friday{
  background-color: #6A4C93;
}
.friday-borders{
  border-width: 1px;
  border-bottom-style: solid;
  border-color: #6A4C93;
}
#saturday{
  background-color: #0E7C7B;
}
.saturday-borders{
  border-width: 1px;
  border-bottom-style: solid;
  border-color: #0E7C7B;
}
